<html lang = "eng">
	<head>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/underscore/underscore-min.js"></script>
        <script src="/lib/backbone/backbone.js"></script>
        <script src="/lib/parseuri/parseuri.js"></script>
        <script src="/js/models/arraysModel.js"></script>
        <script src="/js/models/plottingModel.js"></script>
        <script src="/js/views/PlotView.js"></script>
	</head>
	<body>
		<script>
			$(document).ready(function(){			

				//First determine what we are plotting based on the url params.
				var query = parseUri(window.location).queryKey;
				var ref_des = query.reference_designator;
				var stream = query.stream_name;

				var pv = new PlotView(new plottingModel, new arrayModel, stream, ref_des);
				pv.render();
				
				function arrayFetched(array){
				}
			});
		</script>
	</body>
</html>