{% extends "Base.html" %}
<html lang = "en">
    <head>
        <!--<script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/underscore/underscore-min.js"></script>
        <script src="/lib/backbone/backbone.js"></script>-->
        {% block js %}
            <script src="/js/models/arraysModel.js"></script>
            <script src="/js/views/TOCView.js"></script>
            <link rel="stylesheet" href="/lib/MultiLevelPushMenu/jquery.multilevelpushmenu.css"/>
            <script src="lib/MultiLevelPushMenu/jquery.multilevelpushmenu.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <div id="menu"></div>
            <script>

                $(document).ready(function(){
                    var tocArray = new arrays();

                    //Check if the local storage has the tocArray.
                    //var storedArray = localStorage.getItem("tocArray")
                    //if(storedArray === undefined || storedArray === null){
                        //Fetch the array.
                        $.when(tocArray.fetch()).done(function(){
                            console.log("toc array fetched");
                            tocArrayFetched(tocArray);

                            //store the tocArray for future use.
                      //      localStorage.setItem("tocArray", JSON.stringify(tocArray));
                        });
                    //}else{
                        //TODO: This always causes an error.
                      //  tocArrayFetched(JSON.parse(storedArray));
                    //}
                    //Called once the tocArray has been retrieved (model.fetch or from window.localStorage)
                    function tocArrayFetched(tocArrayParam){
                        var tocView = new TOCView();

                        tocView.render();

                        var tocModel = {}
                        for(var i = 0; i < tocArrayParam.models.length; i++){
                            var model = tocArrayParam.models[i];
                            if(tocModel[model.attributes.array_name] === undefined){
                                tocModel[model.attributes.array_name] = {};
                            }
                            if(tocModel[model.attributes.array_name][model.attributes.assembly_name] === undefined){
                                tocModel[model.attributes.array_name][model.attributes.assembly_name] = {};
                            }
                            if(tocModel[model.attributes.array_name][model.attributes.assembly_name][model.attributes.long_display_name] === undefined){
                                tocModel[model.attributes.array_name][model.attributes.assembly_name][model.attributes.long_display_name] = [];
                            }
                            tocModel[model.attributes.array_name][model.attributes.assembly_name][model.attributes.long_display_name].push({'stream_name': model.attributes.stream_name, 'long_display_name' : model.attributes.long_display_name, 'reference_designator' : model.attributes.reference_designator});
                        }
                        //For some reason, this object has a null key. This is a quick fix.
                        delete tocModel.null;

                        var arrMenu = function parseFunction(tocModelParam){
                            //check if we are passed an array or object.
                            if(Object.prototype.toString.call( tocModelParam ) === '[object Array]'){
                                var arrayResult = [];
                                for(var i = 0; i < tocModelParam.length; i++){
                                    //If we are passed an array, we will assume that it is an array of strings.
                                    if(tocModelParam[i] !== null){
                                        arrayResult.push({"name" : tocModelParam[i].stream_name, 'id' : tocModelParam[i].reference_designator, 'link' : '/plot?reference_designator=' + tocModelParam[i].reference_designator + "&stream_name=" + tocModelParam[i].stream_name});
                                    }
                                }
                                return arrayResult;
                            }else{
                                var result = [];
                                //console.log(tocModelParam);
                                //In this case assume we are passed a dictionary.
                                for(var currentKey in tocModelParam){
                                    //Check if the object is a string
                                    if (typeof tocModelParam[currentKey] === 'string'){
                                        result.push({'name' : tocModelParam[currentKey]});
                                    }else{
                                        //This case should be run if the object is an array or a dictionary.
                                        var nestedItems = parseFunction(tocModelParam[currentKey]);
                                        if(nestedItems !== [] && nestedItems !== null && nestedItems !== undefined && nestedItems.length > 1){
                                            result.push({'name' : currentKey, 'items' :  nestedItems});//[{'title' : currentKey, 'items' : nestedItems}]});
                                        }
                                    }
                                }
                                return result;
                            }
                        }
                        //The arrMenu needs to be enveloped like this because arrMenu is a recursive function and this is an issue that only applies to the first level.
                        var res = {'title' : 'Stations', 'items' : arrMenu(tocModel)};
                        console.log("toc array parsed");
                        /*$('#menu').multilevelpushmenu({
                            menu: res,
                            collapsed: false,
                            onItemClick:function(event, menuLevelHolder, item){
                                window.location.href = item.find( 'a:first' ).attr( 'href' );;
                            }
                        });*/
                        console.log(res);
                        var menu = new Menu(res);
                        $('#menu').append(menu.currentDom);
                        menu.domUpdateCallback = function(dom){
                          console.log("dom update");
                          $('#menu').empty().append(dom);
                        }

                        console.log("menu rendered");
                    }
                });
                function Menu(jsonData){
                  //indexState is a list of indexes that respresents the current selection.
                  this.indexState = [];
                  this.currentDom = undefined
                  this.domUpdateCallback = undefined;
                  this.jsonData = jsonData;
                  this.updateIndexState([]);
                }
                Menu.prototype.getJsonDataAtIndex = function(index){
                  var currentJsonData = this.jsonData.items;
                  if(index.length === 0)return currentJsonData;
                  for(var i = 0; i < index.length; i++){
                    currentJsonData = currentJsonData[index[i]].items;
                  }
                  return currentJsonData;
                };

                //Update the index state and render new dom to match.
                Menu.prototype.updateIndexState = function(newIndex){
                  this.index = newIndex;
                  console.log(JSON.stringify(newIndex));
                  var menuDiv = $("<div></div>");
                  var indexStateJson = this.getJsonDataAtIndex(newIndex);
                  console.log(indexStateJson);
                  for(var i = 0; i < indexStateJson.length; i++){
                    var currentMenuItem = new MenuItem(indexStateJson[i]);
                    var self = this;
                    currentMenuItem.dom.attr("index-value", i);

                    //Create an event handler for the click to show the next layer.
                    currentMenuItem.dom.click(function(e){
                      var currentIndexState = self.indexState;
                      currentIndexState.push($(e.delegateTarget).attr("index-value"));
                      self.updateIndexState(currentIndexState);
                    });

                    menuDiv.append(currentMenuItem.dom);
                  }
                  this.currentDom = menuDiv;
                  if(this.domUpdateCallback!==undefined)this.domUpdateCallback(menuDiv);
                };

                function MenuItem(jsonData){
                  this.jsonData = jsonData;
                  this.items = [];
                  this.parentNode = undefined;
                  /*if(jsonData !== undefined){
                    //if the
                    if(Object.prototype.toString.call( jsonData.items ) === '[object Array]'){
                      for(var i = 0;  i < jsonData.items.length; i++){
                        var nextMenuItem = new MenuItem(jsonData.items[i]);
                        nextMenuItem.parentNode = nextMenuItem;
                        nextMenuItem.hidden = true;
                        this.addSubItem(nextMenuItem);
                      }
                    }else{

                    }
                  }*/
                  //If the current item is finished do not create any dom.
                  this.dom = this.createMenuElementsForItem(jsonData);
                }
                MenuItem.prototype.addSubItem = function addSubItems(item){
                    //Items should have a name and either a items field or a link field.
                    //createMenuElement(itemsArray);
                    //this.append(itemsArray);
                    this.items.push(item);
                };

                //Creates the dom based on MenuItem "items" passed in.
                MenuItem.prototype.createMenuElementsForItem = function(item){
                  var itemDiv = $("<div></div>");
                  itemDiv.append("<a" + (item.link === undefined ? "" : " href=\"" + item.link + "\"") + ">" + item.name + "</a>");
                  return itemDiv;
                };



            </script>
        {% endblock %}
    </body>
</html>
