<p>PlotView.html</p>
<h1>Select Dates</h1>
<p>StartDate</p>
<input id="startDatePicker"></input>
<p>End Date</p>
<input id="endDatePicker"></input>
<p>Select y vars</p>
<select id="yVarSelection"><% for(var i = 0; i < yVars.length; i++){ %>
	<option><%= yVars[i] %></option>
	<% } %>
</select>
<button id="submitButton">submit</button>
<div id="highChartsContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
	$(document).ready(function(){
		var $startInput = $('#startDatePicker').pickadate();
		var $endInput = $('#endDatePicker').pickadate();
		/*var startDatePicker = $startInput.pickadate("picker");
		var endDatePicker = $endInput.pickadate("end picker");
			$('#startDatePicker').focus(function(){
				startDatePicker.open();
			});*/
	});

</script>
